<!--NOSSOS PRODUTOS-->
    <div id="servicos" class="block">
      <div class="container">
        <h2 class="title text-center">Produtos Recentes</h2>
        <h4 class="subtitle text-center mb-4">
          Aproveite os melhores preços
        </h4>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
          <div class="items">
            <% @products.each do |product| %>
            <div class="destaque">
              <div class="img-container mb-3">
                <%= image_tag(product.image) %>
              </div>
              <h5 class="text-uppercase"><%= product.title%></h5>
              <p class="mb-0">
                <%=  product.description%>
              </p>  
              <p><%= link_to "Mostrar o Produto", product, class: 'btn btn-primary' %></p>

            </div>
            <%end%>
            </div>
          </div>
        </div>
      </div>
      <div class="paginacao">
    <%= render 'paginacao'%>
    </div>
    </div>
    <!--//NOSSOS PRODUTOS-->