<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Editar esse Produto", edit_product_path(@product), class: "btn btn-warning" %> |
  <%= link_to "Voltar para Produtos", products_path, class: "btn btn-secondary" %>

  <%= button_to "Excluir esse Produto", @product, method: :delete, class:"btn btn-danger" %>
</div>
