<div style="font-family: arial; font-size:20px;">
<div class="titulo">
 <h1>Controle do vendedor:</h1>
</div>
<div class="table-responsive">
<table class="table">
<thead>
<tr>
<th>Nome:</th>
<th>Email:</th>
<th>Funcao:</th>
<th>Data de entrada:</th>
<th>Acessos:</th>
<th>Ultimo acesso:</th>
<th>Produtos criados</th>
<th>Produtos vendidos</th>
</tr>
</thead>
<tbody >

<% @users.with_role(:vendedor).each do |user| %>
<tr>
<td><h3><%= user.username %></h3></td>

<td><h3><%= user.email %></h3></td>

<td><h3><%= user.roles.first.name %></h3></td>

<td><h3><%= month_day_comma_year(user.created_at) %></h3></td>

<td><h3><%= user.sign_in_count %> acessos</h3></td>
<% if user.sign_in_count > 0 %>
<td><h3><%= month_day_comma_year(user.last_sign_in_at) %></h3></td>
<%else%>
<td><h3> </h3></td>
<%end%>
<% if user.has_role?(:vendedor)%>
<td><h3><%= user.products.count %> </h3></td>
<% user.products.each do |product| %>
<% vendidos = 0 %>
<% vendidos =+ product.sales_count %> 
<td><h3><%= vendidos %></h3></td>   
<%end%>
<%end%>
</tr>
</tbody>
<%end%>
</table>
</div>
</div>

<style type="text/css">
table{

border-collapse: collapse;
margin-bottom: 1em;
width: 100%;

}

table tr{

page-break-inside: avoid;

}

table thead tr th {

  background-color: #1a215c;
  color: #fff;
  border: 1px solid #DDDDDD;
  min-width: 0.6em;
  padding: 5px;
  text-align: center;
  vertical-align: top;
  font-weight: bold; 

}

table tbody tr td {

  border: 1px solid #DDDDDD;
  min-width: 0.6em;
  padding: 5px;
  vertical-align: top;
  font-size: 15px;

}

.titulo{
  
  color: #fff;
  background-color: #1a215c;
  border: 1px solid #000000;
  text-align: center;
  margin: 5px;
  padding: 5px;
}
</style>

