<%= simple_form_for(@product) do |f| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :title,label: "Nome do produto", input_html: { class: 'form-control', placeholder: "Digite o titulo do seu produto" } %> 
    <%= f.input :description, label: "Descrição do produto", input_html: { class: 'form-control', placeholder: "Digite a descrição do seu produto" } %>
    <%= f.input :image, label: "Imagem do produto: ", as: :file %>
    <%= f.input :price_cents,label: "Preço:", input_html: { class: 'form-control', placeholder: "Informe o preço aqui" } %>
    <%= f.association :category,label: "Escolha uma categoria:", label_method: :c_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,"Criar Produto", class: "btn btn-primary" %>
  </div>

<% end %>
