<div id="<%= dom_id product %>">

  <p>
  <strong>Vendedor:</strong>
  <%= product.user.username %>
  </p>

<p>
<strong>Categoria:</strong>
<%= product.category.c_name %>
</p>

  <p>
    <strong>Nome do produto:</strong>
    <%= product.title %>
  </p>

<p>

<strong>Imagem:</strong>
<%= image_tag product.image, style: "width: 150px; height 150px;" %>

</p>

  <p>
    <strong>Descrição:</strong>
    <%= product.description %>
  </p>
  
  <p>
   <strong>Vendidos:</strong>
   <%= product.sales_count %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= number_to_currency(product.price/100) %>
  </p>

  <p>
  <strong>Adicionar ao Carrinho:</strong>
  <% if @cart.include?(product) %>
   <%= button_to "Remover do carrinho", remove_from_cart_path(product), method: :delete %>
  <% else %>
   <%= button_to "Adicionar ao carrinho", add_to_cart_path(product) %>
  <% end %>
  </p>


</div>
