
<% if user_signed_in? %>

<%if current_user.has_role?(:vendedor)%>
<h1>Atualize suas informações aqui:</h2>
<%end%>


<%= simple_form_for @profile, url: profiles_path, method: :post do |f| %>
 <%= f.error_notification %>

<%if current_user.has_role?(:cliente) %>
 <%= f.collection_check_boxes(:role_ids, Role.where(name: 'vendedor'), :id, :name) do |b|
  b.label{ b.check_box(checked: true) + b.text} end%>
 <%end%>
<%= f.input :country, as: :string %>
<%= f.input :adress %>
<%= f.input :phone %>
<%= f.input :cpf %> 
<br>
<p><strong>Opcional: Nos forneça sua conta bancária para que possamos fazer os repasses mais facilmente.</strong></p>
<%= f.input :bank_account %> 

<br>

<%= f.submit "Forneça os dados restantes", class: "btn btn-primary"%>

<%end%>

<%end %>