<!DOCTYPE html>
<html>
  <head>
    <title>HyperTech</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag "home/home","form.css", "data-turbo-track": "reload" %>

    <link type="image/png" sizes="16x16" rel="icon" href="./assets/icon.png">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!-- font awesome cdn link  -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

     <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />


  <!--importa o javascript necessário para o slide -->
    <%= javascript_include_tag "application.js", "home/main.js", "home/owl.carousel.min.js", "home/jquery.magnific-popup.min.js", 
    "home/isotope.pkgd.min.js","home/bootstrap.min.js","jquery.js","jquery_ujs.js", "home/magnify/jquery.magnific-popup.min.js", "home/home.js",
     "data-turbo-track": "reload", defer: true %>
     
  </head>

  <body>

  <%= render 'layouts/navbar'%>
<div class="container">
 <%= render 'layouts/flash_messages'%>

    <%= yield %>

</div>

  </body>
</html>
